:root {
  --color-purple: hsl(282, 43%, 23%);
  --color-purple-light: hsl(230, 64%, 91%);
  --color-purple-alternate: hsl(254, 35%, 44%);
  --color-pink: hsl(343, 79%, 58%);
  --color-pink-light: hsla(343, 79%, 58%, 0.5);
  --color-orange: hsl(30, 91%, 56%);
  --color-orange-light: hsla(35, 91%, 56%, 0.5);
  --image-about-me-offset: 150px;
}

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Regular.ttf);
}
h1 {
  font-family: "Inter";
  font-size: 7rem;
}
h2 {
  font-family: "Inter";
  font-size: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--color-purple-light);
  color: var(--color-purple);
  line-height: 1.3;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.wrap-full-hd {
  max-width: 1920px;
  margin: 0 auto;
}

.position-relative {
  position: relative;
}

header {
  background-color: var(--color-purple-light);
  text-align: center;
  position: relative;
  height: 100px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.kate-ilias-home {
  text-decoration: none;
  color: var(--color-purple);
  font-weight: bold;
  font-size: 1.8rem;
}

header nav ul li a {
  text-decoration: none;
  color: var(--color-purple);
  font-weight: bold;
  font-size: 1.8rem;
  transition: all 0.3s ease;
  display: inline-block;
}

header nav ul li a:hover {
  color: var(--color-pink);
  transform: scale(1.1);
}

.hero-section {
  height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -5rem;
}
.hero-content h1 {
  margin: 0;
}
.hero-content p {
  margin: 0;
  max-width: 28ch;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}
.pink-dot {
  color: var(--color-pink);
}
.section {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: #fff;
  margin: 1.5rem 0;
}

.section h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--color-purple);
  font-family: "Inter", sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section img {
  width: 100%;
  height: auto;
}

.images-wrap {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.images-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.images-max-width-640 img {
  max-width: 640px;
}

.images-max-width-400 img {
  max-width: 400px;
}

.images-max-height-600 img {
  max-height: 600px;
  width: auto;
}

.images-wrap figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-wrap figcaption {
  font-size: 1.2rem;
  max-width: 30ch;
  margin-top: 1rem;
}

.section p {
  font-size: 1.7rem;
  color: var(--color-purple);
  margin-top: 0;
  margin-bottom: 2rem;
}

.section .margin-bottom-larger {
  margin-bottom: 3rem;
}

.section .smaller-text {
  font-size: 1.5rem;
}

footer.contact {
  background-color: var(--color-purple-light);
  text-align: left;
}

footer.contact p {
  color: var(--color-purple);
  padding-left: 100px;
  font-size: 1.8rem;
  margin-top: 150px;
}

footer.contact .social-links {
  margin: 100px 0;
  background-color: var(--color-purple-light);
}

footer.contact .social-links a {
  text-decoration: none;
  color: var(--color-purple);
  font-size: 1.8rem;
  padding-left: 100px;
  background-color: var(--color-purple-light);
}

footer.contact .footer {
  background-color: var(--color-purple-alternate);
  padding: 0px 0;
  margin-top: 30px;
}

.small-purple-arrow {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  animation: move-down 32s infinite;
}

.small-purple-arrow-margin-top {
  margin-top: 4rem;
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.purple-arrow-rounded {
  fill: none;
  stroke: var(--color-purple);
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  transition: all 0.3s ease;
}

.small-purple-arrow:hover .purple-arrow-rounded {
  stroke: var(--color-pink);
}

.about-spacer {
  --image-about-me-margin: 1.5rem;
  height: calc(var(--image-about-me-offset) - var(--image-about-me-margin));
  background-color: #fff;
  margin-top: calc(var(--image-about-me-margin) * -1);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 3rem;
}

#about-me {
  background-color: var(--color-purple-light);
}
.about-photo {
  display: flex;
  justify-content: center;
}

.about-photo img {
  margin-top: calc(var(--image-about-me-offset) * -1);
  margin-right: -110px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.about-text h2 {
  color: var(--color-purple);
  font-size: 3rem;
  margin: 0;
}

.about-text p {
  font-size: 1.5rem;
  max-width: 27ch;
  margin: 0;
}

#experience {
  background-color: var(--color-purple);
}

.experiences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.experience-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 0.5rem;
}

.experience-item h3 {
  color: var(--color-purple-light);
  font-size: 2.5rem;
  margin: 0;
}

.experience-item h3 span {
  font-weight: 100;
}

.experience-item p {
  color: var(--color-purple-light);
  font-size: 1.4rem;
  margin: 0;
  max-width: 13ch;
}

.spacer-before-creative-carrer {
  background-color: var(--color-purple-light);
  margin-bottom: -5rem;
}

.creative-career-section {
  background-color: var(--color-purple-light);
  text-align: left;
}

.creative-carrer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creative-career-intro {
  margin-bottom: 5rem;
}

.ccreative-career-intro h2 {
  color: var(--color-purple);
  font-size: 3rem;
}

.creative-career-intro p {
  font-size: 1.8rem;
  color: var(--color-purple);
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.step-inner {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "small-dots nothing" "step-ellipse step-text";
  gap: 3rem;
}

.small-dots-wrap {
  grid-area: small-dots;
  display: grid;
  place-items: center;
}

.step-1 .small-dots {
  max-width: 5rem;
}

.step-2 .small-dots {
  max-width: 5rem;
  margin-left: -14rem;
  margin-bottom: -1rem;
}

.step-3 .small-dots {
  max-width: 10rem;
  margin-left: 12rem;
}

.step-4 .small-dots {
  max-width: 10rem;
  margin-left: -12rem;
}

.step-5 .small-dots {
  max-width: 10rem;
  margin-left: 8rem;
  margin-bottom: 1rem;
  transform: rotate(-30deg);
}

.step-ellipse {
  grid-area: step-ellipse;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: var(--color-pink);
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;

  animation: zoom linear;
  animation-timeline: view(5vh 20vh);
}

.step-ellipse-orange {
  background-color: var(--color-orange);
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.step-ellipse img {
  animation: zoom-image linear;
  animation-timeline: view(5vh 20vh);
}

@keyframes zoom-image {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05) translateX(-0.5rem);
  }
  100% {
    transform: scale(1);
  }
}

.step-inner-offset {
  margin-left: 12rem;
}

.step-text {
  grid-area: step-text;
  max-width: 40ch;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.step-text p {
  font-size: 1.25rem;
  margin: 0;
}

.step-text-ofset {
  padding-top: 1rem;
  padding-left: 1rem;
}

.step-ellipse img {
  width: 10rem;
  height: auto;
  position: absolute;
}

.step-1 .step-ellipse img {
  width: 19rem;
}

.step-2 .step-ellipse img {
  width: 14rem;
  margin-left: -2rem;
}

.step-3 .step-ellipse img {
  width: 19rem;
}

.step-4 .step-ellipse img {
  width: 19rem;
}

.step-5 .step-ellipse img {
  width: 20rem;
}

/* contact section */
.contact-section {
  background-color: transparent;
  text-align: left;
  min-height: 90vh;
  margin-bottom: 0;
}

.big-purple-footer-ball {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  width: 30rem;
  height: 30rem;
  z-index: -1;
  background-color: var(--color-purple);
  border-radius: 30rem;
}

.contact-section-content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;
  margin: 2rem;
}

.contact-links {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-links h3 {
  margin: 0;
  font-size: 3rem;
  color: var(--color-purple);
}

.contact-links a {
  text-decoration: none;
  color: var(--color-purple);
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.contact-links a:hover {
  transform: scale(1.1);
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links img {
  width: 2.5rem;
  height: 2.5rem;
}

.social-links a {
  transition: transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.1);
}

.logo-kate-ilias {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-kate-ilias img {
  max-width: 300px;
}

.contact-call-out {
  font-size: 2.2rem;
  max-width: 27ch;
}

.contact-email {
  position: relative;
  display: flex;
  align-items: center;
}

.contact-email-arrow {
  transform: rotate(90deg);
  position: absolute;
  right: -7rem;
}

.contact-email-arrow svg {
  width: auto;
  height: 4rem;
  animation: move-down 32s infinite;
}

.purple-arrow-rounded-email {
  fill: none;
  stroke: var(--color-purple);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  transition: all 0.3s ease;
}

.small-purple-arrow-margin-top {
  margin-top: 4rem;
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.purple-arrow-rounded {
  fill: none;
  stroke: var(--color-purple);
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  transition: all 0.3s ease;
}

.small-purple-arrow:hover .purple-arrow-rounded {
  stroke: var(--color-pink);
}

.footer-info-copyright {
  text-align: center;
  margin: 2rem;
  font-size: 1rem;
}

.footer-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 200px;
}

/* animation - hair */
/* .animation-hair-left.animation-hair-left-top {
  animation: hair-wind-left-top 5s ease-in-out infinite;
  transform-origin: top right;
  transform: rotate(-10deg) translate(-11px, -38px);
} */

/* transform: rotate(-10deg) translate(-11px, -38px); */

/* @keyframes hair-wind-left-top {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  35% {
    transform: rotate(-10deg) translate(-11px, -38px);
  }
  50% {
    transform: rotate(0deg) translate(-5px, -10px);
  }
  65% {
    transform: rotate(10deg) translate(11px, 38px);
  }
  80% {
    transform: rotate(0deg) translate(0, 0);
  }
} */

.animation-hair-left.animation-hair-left-top {
  animation: hair-wind-left-top 8s ease-in-out infinite;
}

@keyframes hair-wind-left-top {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, 1px) rotate(1deg); /* Hair moves slightly to the right */
  }
  50% {
    transform: translate(0, 0); /* Hair returns to the center */
  }
  65% {
    transform: translate(4px, 1px) rotate(-1deg); /* Hair moves slightly to the left */
  }
  100% {
    transform: translateX(0, 0); /* Hair returns to the center */
  }
}

.animation-hair-left.animation-hair-left-middle {
  animation: hair-wind-left-middle 12s ease-in-out 1s infinite;
}

@keyframes hair-wind-left-middle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, 1px) rotate(4deg); /* Hair moves slightly to the right */
  }
  50% {
    transform: translate(0, 0); /* Hair returns to the center */
  }
  70% {
    transform: translate(2px, 1px) rotate(6deg); /* Hair moves slightly to the left */
  }
  100% {
    transform: translateX(0, 0); /* Hair returns to the center */
  }
}

.animation-hair-left.animation-hair-left-bottom {
  animation: hair-wind-left-bottom 7s ease-in-out 1s infinite;
}

@keyframes hair-wind-left-bottom {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, 1px) rotate(1deg); /* Hair moves slightly to the right */
  }
  50% {
    transform: translate(0, 0); /* Hair returns to the center */
  }
  75% {
    transform: translate(4px, 1px) rotate(-1deg); /* Hair moves slightly to the left */
  }
  100% {
    transform: translateX(0, 0); /* Hair returns to the center */
  }
}

.animation-hair-right.animation-hair-right-top {
  animation: hair-wind-right-top 12s ease-in-out 1s infinite;
}

@keyframes hair-wind-right-top {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, 1px) rotate(1deg); /* Hair moves slightly to the right */
  }
  50% {
    transform: translate(0, 0); /* Hair returns to the center */
  }
  75% {
    transform: translate(6px, 1px) rotate(-1deg); /* Hair moves slightly to the left */
  }
  100% {
    transform: translateX(0, 0); /* Hair returns to the center */
  }
}

.animation-hair-right.animation-hair-right-bottom {
  animation: hair-wind-right-bottom 7s ease-in-out 1s infinite;
}

@keyframes hair-wind-right-bottom {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, 1px) rotate(1deg); /* Hair moves slightly to the right */
  }
  50% {
    transform: translate(0, 0); /* Hair returns to the center */
  }
  75% {
    transform: translate(4px, 1px) rotate(-1deg); /* Hair moves slightly to the left */
  }
  100% {
    transform: translateX(0, 0); /* Hair returns to the center */
  }
}
