@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Regular.ttf);
}
h1 {
  font-family: "Inter";
  font-size: 7rem;
}
h2 {
  font-family: "Inter";
  font-size: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #dadff7;
  color: #462255;
}

header {
  background-color: #dadff7;
  text-align: center;
  /* padding: 50px 20px; */
  position: relative;
  height: 100px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.kate-ilias-home {
  text-decoration: none;
  color: #462255;
  font-weight: bold;
  font-size: 1.8rem;
}

header nav ul li a {
  text-decoration: none;
  color: #462255;
  font-weight: bold;
  font-size: 1.8rem;
}

header .hero-content h1 {
  margin: 0;
  font-size: 7rem;
}

header .hero-content p {
  margin: 10px 0 0;
  font-size: 1.8rem;
  color: #462255;
}
.hero-section {
  height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -5rem;
}
.hero-content h1 {
  margin: 0;
}
.hero-content p {
  max-width: 30ch;
  font-size: 1.5rem;
  margin-left: 3rem;
}
.section {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
  margin: 20px 0;
}

.section:nth-child(even) {
  background-color: #fff;
}

.section h2 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #462255;
  font-family: "Inter", sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.section p {
  margin: 10px 0 0;
  font-size: 1.8rem;
  color: #462255;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.section button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.section .arrow {
  font-size: 2em;
  margin-top: 30px;
  color: #5c4999;
}

footer.contact {
  background-color: #dadff7;
  text-align: left;
}

footer.contact p {
  color: #462255;
  padding-left: 100px;
  font-size: 1.8rem;
  margin-top: 150px;
}

footer.contact .social-links {
  margin: 100px 0;
  background-color: #dadff7;
}

footer.contact .social-links a {
  text-decoration: none;
  color: #462255;
  font-size: 1.8rem;
  padding-left: 100px;
  background-color: #dadff7;
}

footer.contact .footer {
  background-color: #5c4999;
  padding: 0px 0;
  margin-top: 30px;
}

.small-purple-arrow {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  gap: 10px; /* Space between text and arrow */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.small-purple-arrow-icon {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}
.image-row {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  gap: 10px; /* Space between images */
  margin-top: 20px; /* Space above the row */
}
.image-row img {
  max-width: 100%;
  height: auto;
}
#about-me {
  background-color: #dadff7;
}
.about-about {
  background-color: #dadff7;
}
.about-about p {
  font-size: 2.2rem;
  max-width: 40ch;
}
.nice-to-meet-you {
  font-size: 3rem;
}
#experience {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
  background-color: #462255;
}

.experience-item {
  text-align: center;
  flex-basis: calc(25% - 20px); /* Adjust as needed, considering margins */
  margin-bottom: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Display items in a column */
  align-items: center; /* Center items horizontally */
}

.experience-item h1 {
  color: #dadff7; /* Adjust text color */
  font-size: 4rem;
  margin-bottom: 1rem;
}

.experience-item p {
  color: #dadff7; /* Adjust text color */
  font-size: 1.8;
}
.creative-career-section {
  background-color: #dadff7;
}

.creative-career-section h2 {
  color: #462255;
  font-size: 3rem;
  padding-left: 100px;
}

.creative-career-section .paragraphs {
  /* Style for the paragraph container */
}

.creative-career-section .paragraphs p {
  font-size: 1.8rem;
  color: #462255;
  padding-left: 100px;
  font-weight: bold;
}

.creative-career-section .columns {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  color: #462255;
  gap: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.creative-career-section .column {
  width: 20%; /* Adjust the width as needed */
  font-size: 1.8;
  color: #462255;
}

.creative-career-section .column p {
  /* Style for the text within columns */
  vertical-align: bottom;
  font-size: 1.8;
  color: #462255;
}

.footer-info {
  text-align: center;
}
.footer-info-copyright {
  margin-top: 3rem;
  padding: 2rem;
  font-size: 2rem;
}
.logo-kate-ilias {
  margin-top: 3rem;
}
.social-links {
  justify-content: space-between;
  gap: 100px;
}
.social-links-1 {
  display: inline-flex;
}
.social-links-2 {
  display: inline-flex;
}
.contact-social-links img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  padding: 1rem;
}
.email {
  text-align: center;
}
.email p {
  font-size: 2rem;
}
.email h3 {
  font-size: 3rem;
}
.contact-section {
  height: 100vh;
  display: grid;
  place-items: center;
}
.call-out {
  font-size: 2.2rem;
  max-width: 27ch;
}
